<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
    </configSections>
    <!--<configBuilders>
        <builders>
        <add name="Secrets" userSecretsId="6a8d57f0-02fd-441d-ab79-2a7648e4328b" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=2.0.0.0, Culture=neutral" /></builders>
    </configBuilders>-->
  <configBuilders>
    <builders>
        <add name="Secrets"
             userSecretsFile="C:\Users\Leandro\Documents\Secrets\secrets.xml" mode="Greedy" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder,
                Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </builders>
</configBuilders>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>-->
   <appSettings configBuilders="Secrets"/>
  <!--<appSettings>
    <add key="AzureKeyVaultClientId" value="979aa41e-87ce-4df4-a844-e167776e16fa" />
    <add key="AzureKeyVaultClientSecret" value="xN33PfQg2nkTb0k*@jjuEBr+MAup?uvQ" />
    <add key="AzureKeyVaultUrl" value="https://learncsharp-keyvault.vault.azure.net/" />
    <add key="AzureTranslatorTextKey" value="b7518eb538324150ba36d81467446b55" />
    <add key="AzureTranslatorTextHost" value="https://api.cognitive.microsofttranslator.com" />
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>